<h1 *ngIf="!employeer.employeerId">Create Employeer</h1>

<h1 *ngIf="employeer.employeerId">Edit Employeer</h1>

<form novalidate autocomplete="off" spellcheck="false" [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="First Name" id="firstName" formControlName="firstName">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last Name" id="lastName" formControlName="lastName">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" id="emai" formControlName="email">
  </mat-form-field>

</form>

<div class="editor__actions">
  <button mat-raised-button (click)="handleSaveClick()" color="primary">Save</button>
  <button mat-button (click)="handleCancelClick()">Cancel</button>
</div>
